<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edisonbro.com.edisonbroautomation">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--<uses-permission android:name="android.permission.READ_SMS" />-->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".Edisonbro_AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/eb_launch_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main_Navigation_Activity"
            android:screenOrientation="portrait" />

        <!-- Home Automation Configuration Activities -->


        <!--
            <activity
            android:name=".Remoteconndwn"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".wiredconfig.DownloadDatabse"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Local_Remote_DownloadActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".operatorsettings.OperatorSettingsMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.Configuration_Main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.AddNewDevice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.DeviceConfiguration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.DownloadHouseDb"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.WirelessConfigurationDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.WirelessDeviceConfiguration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.ChangeServerPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.UpdateHome_Existing"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".operatorsettings.Wireless_Panel_Selection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.WirelessStaticPanelConfiguration"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".operatorsettings.WirelessPanelFinalConfiguration"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".operatorsettings.WirelessDeviceMoodConfiguration"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".operatorsettings.WirelessDeletePanelSettings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".operatorsettings.DeleteDevice"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".operatorsettings.DeleteRoom"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".operatorsettings.EditRoomName"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name=".Connections.UsbService"
            android:enabled="true" />

        <activity
            android:name=".AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usersettings.UserSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AppLockActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TimerEdit_Database"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoodSettingEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.SmartSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.EditDeviceName"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.EditRoomIcons"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loganalytics.LogAnalyticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.GatewaySettings_Tcp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".operatorsettings.Add_Alexa"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".operatorsettings.Edit_Alexa"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- customer care -->

        <activity android:name=".customercarepager.Ebc_SplashScreen" />
        <activity
            android:name=".customercarepager.TabWithIconActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".customercarepager.TabWOIconActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".customercarepager.CustomTabActivity"
            android:windowSoftInputMode="adjustPan">

            <!--
             <intent-filter>
                 <action
                     android:name="android.intent.action.MAIN"
                     android:windowSoftInputMode="adjustPan" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".customercarepager.Helpandsupportactivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".customercarepager.Faq_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".customercarepager.ticket_generate"
            android:theme="@style/AppTheme" />
        <!--
                    <activity
                    android:name=".ViewPager.switchboardmanual"
                    android:theme="@style/AppTheme" />
        -->
        <activity
            android:name=".customercarepager.Product_activity"
            android:label="@string/title_activity_product_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".customercarepager.Individual_Product_activity"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.SwitchBoard"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.Mobile_app_operation"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.SwitchBoard_app_operation"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.PIR_Product_activity"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.PIR_info"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.PIR_app_operation"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.PIR_Mobile_app_operation"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.Gateway"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.GATEWAY_Product_activity"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.RGB_Product_activity"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.RGB_info"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.RGB_Mobile_app_list"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.Curtain_Product_activity"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.Curtain_info"
            android:label="@string/title_activity_product_activity" />
        <activity
            android:name=".customercarepager.Curtain_Mobile_app_list"
            android:label="@string/title_activity_product_activity" />
        <activity android:name=".operatorsettings.DeleteAlexa" />
        <activity android:name=".EnergySaving.EnergySavingActivity" />
        <activity android:name=".customercarepager.Dimmer_info" />
        <activity android:name=".customercarepager.Dimmer_Product_Activity" />
        <activity android:name=".customercarepager.Dimmer_App_List"></activity>

       <!-- <service android:name="edisonbro.com.edisonbroautomation.Connections.MyService"
            android:stopWithTask="true"/>-->

    </application>

</manifest>